/* html { */
  /* font-family: roboto; */
/* } */

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

img {
  /* Make this 100 later (100X100 photos) */
  max-width: 160px;
}

